USE [master]
GO
/****** Object:  Database [CarShop]    Script Date: 3/20/2024 5:27:13 PM ******/
CREATE DATABASE [CarShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CarShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarShop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/20/2024 5:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarInventory]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarInventory](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[VIN] [nvarchar](17) NOT NULL,
	[Price] [float] NOT NULL,
	[Mileage] [int] NULL,
	[FuelType] [nvarchar](50) NOT NULL,
	[TransmissionType] [nvarchar](50) NOT NULL,
	[EngineSize] [float] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [pk_CarID] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financing]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financing](
	[FinancingID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NOT NULL,
	[LoanProvider] [nvarchar](50) NOT NULL,
	[LoanAmount] [float] NOT NULL,
	[InterestRate] [float] NOT NULL,
 CONSTRAINT [pk_FinancingID] PRIMARY KEY CLUSTERED 
(
	[FinancingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
	[CountryOrigin] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_ManufacturerID] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairInvoice]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairInvoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[IssueDescription] [nvarchar](250) NOT NULL,
	[RepairDate] [datetime] NULL,
 CONSTRAINT [pk_InvoiceID] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[SaleDate] [datetime] NULL,
	[SalePrice] [float] NULL,
 CONSTRAINT [pk_SaleID] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceAppointment]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceAppointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[ServiceTypeID] [int] NOT NULL,
	[SupplierID] [int] NULL,
	[ScheduleDate] [datetime] NULL,
 CONSTRAINT [pk_AppointmentID] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceType]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceType](
	[ServiceTypeID] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [pk_ServiceTypeID] PRIMARY KEY CLUSTERED 
(
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
	[ContactPerson] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
 CONSTRAINT [pk_SupplierID] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
	[IsLoggedIn] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [pk_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warranty]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warranty](
	[WarrantyID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NOT NULL,
	[WarrantyTypeID] [int] NOT NULL,
	[WarrantyStartDate] [datetime] NULL,
	[WarrantyEndDate] [datetime] NULL,
 CONSTRAINT [pk_WarrantyID] PRIMARY KEY CLUSTERED 
(
	[WarrantyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyType]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyType](
	[WarrantyTypeID] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [pk_WarrantyTypeID] PRIMARY KEY CLUSTERED 
(
	[WarrantyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'CUSTOMER')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'EMPLOYEE')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'37bce22a-5642-4c08-9c69-14331f4356f4', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'43f848fe-f9e3-4ec8-a1b7-1e244f2e8bf3', N'3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'788975d8-5ccb-426a-a78d-251e74651935', N'4')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'37bce22a-5642-4c08-9c69-14331f4356f4', N'martin@gmail.com', 0, N'ACis0r1S+vRWumQC3+zgoK2bzWvvYT3ZGTh1mdCTBEX75yVdQ3s7PYaaMh5s0E4JJA==', N'3558f533-0c79-4168-a4fa-053386b92351', NULL, 0, 0, NULL, 1, 0, N'martin@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'43f848fe-f9e3-4ec8-a1b7-1e244f2e8bf3', N'ethan@company.com', 0, N'AL7VEx6NIdfQOX7932uek6rSvVXKDJ9k9KW7EZNNvGgkCOtt66VUBZRuDf+UTKW16A==', N'5d2b3c47-46a4-420b-bdfe-699b75da1260', NULL, 0, 0, NULL, 1, 0, N'ethan@company.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'788975d8-5ccb-426a-a78d-251e74651935', N'jake@company.com', 0, N'ABnAxBhaDiVPG4ZOM/r0Xfq+SmqLWi/oBQCfnuRdEzuwNX2AlpJJcO62JzGSHRPrmQ==', N'50924e29-87d7-47fd-908e-90fad619f010', NULL, 0, 0, NULL, 1, 0, N'jake@company.com')
GO
SET IDENTITY_INSERT [dbo].[CarInventory] ON 

INSERT [dbo].[CarInventory] ([CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description]) VALUES (1, N'crosstrek', 2023, N'black', N'4HDAS138', 24995, 0, N'Gasoline', N'automatic', 2.5, N'do not miss out on this car')
INSERT [dbo].[CarInventory] ([CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description]) VALUES (2, N'forester', 2024, N'blue', N'9F1J2AG9', 25800, 0, N'E85', N'manual', 2.5, N'another great car')
INSERT [dbo].[CarInventory] ([CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description]) VALUES (3, N'ascent', 2024, N'red', N'1A8HWE40', 27550, 0, N'Hybrid', N'automatic', 2.5, N'awesome car')
SET IDENTITY_INSERT [dbo].[CarInventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Financing] ON 

INSERT [dbo].[Financing] ([FinancingID], [SaleID], [LoanProvider], [LoanAmount], [InterestRate]) VALUES (1, 3, N'EliteCash Services', 450, 0.0811)
INSERT [dbo].[Financing] ([FinancingID], [SaleID], [LoanProvider], [LoanAmount], [InterestRate]) VALUES (2, 2, N'LibertyLoans', 325, 0.045)
INSERT [dbo].[Financing] ([FinancingID], [SaleID], [LoanProvider], [LoanAmount], [InterestRate]) VALUES (3, 1, N'PrestoFunds', 400.5, 0.055)
SET IDENTITY_INSERT [dbo].[Financing] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName], [CountryOrigin]) VALUES (1, N'Volvo', N'Sweden')
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName], [CountryOrigin]) VALUES (2, N'Volkswagen', N'Germany')
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName], [CountryOrigin]) VALUES (3, N'Toyota', N'Japan')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairInvoice] ON 

INSERT [dbo].[RepairInvoice] ([InvoiceID], [CarID], [UserID], [IssueDescription], [RepairDate]) VALUES (1, 1, 1, N'Replace oxygen sensor', NULL)
INSERT [dbo].[RepairInvoice] ([InvoiceID], [CarID], [UserID], [IssueDescription], [RepairDate]) VALUES (2, 3, 3, N'Replace catalytic converter', NULL)
INSERT [dbo].[RepairInvoice] ([InvoiceID], [CarID], [UserID], [IssueDescription], [RepairDate]) VALUES (3, 1, 5, N'Replace ignition coil', NULL)
SET IDENTITY_INSERT [dbo].[RepairInvoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [UserID], [CarID], [SaleDate], [SalePrice]) VALUES (1, 2, 1, CAST(N'2023-07-09T00:00:00.000' AS DateTime), 22500)
INSERT [dbo].[Sales] ([SaleID], [UserID], [CarID], [SaleDate], [SalePrice]) VALUES (2, 3, 2, CAST(N'2022-09-12T00:00:00.000' AS DateTime), 19295.5)
INSERT [dbo].[Sales] ([SaleID], [UserID], [CarID], [SaleDate], [SalePrice]) VALUES (3, 1, 3, CAST(N'2021-04-19T00:00:00.000' AS DateTime), 20750)
SET IDENTITY_INSERT [dbo].[Sales] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceAppointment] ON 

INSERT [dbo].[ServiceAppointment] ([AppointmentID], [CarID], [UserID], [ServiceTypeID], [SupplierID], [ScheduleDate]) VALUES (1, 2, 1, 1, 2, CAST(N'2020-11-05T00:00:00.000' AS DateTime))
INSERT [dbo].[ServiceAppointment] ([AppointmentID], [CarID], [UserID], [ServiceTypeID], [SupplierID], [ScheduleDate]) VALUES (2, 2, 2, 2, 5, CAST(N'2019-08-09T00:00:00.000' AS DateTime))
INSERT [dbo].[ServiceAppointment] ([AppointmentID], [CarID], [UserID], [ServiceTypeID], [SupplierID], [ScheduleDate]) VALUES (3, 3, 1, 3, 1, CAST(N'2021-04-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ServiceAppointment] OFF
GO
INSERT [dbo].[ServiceType] ([ServiceTypeID], [Description]) VALUES (1, N'repairs')
INSERT [dbo].[ServiceType] ([ServiceTypeID], [Description]) VALUES (2, N'tires')
INSERT [dbo].[ServiceType] ([ServiceTypeID], [Description]) VALUES (3, N'oil change')
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactPerson], [PhoneNumber]) VALUES (1, N'Down Town Auto Service', N'Freddy Brown', N'3192221111')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactPerson], [PhoneNumber]) VALUES (2, N'Cedar Rapids Auto Service', N'Shawn Torent', N'3192223333')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [ContactPerson], [PhoneNumber]) VALUES (3, N'Iowa City Auto Service', N'Patrick Sky', N'3192224444')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role], [IsLoggedIn], [IsAdmin]) VALUES (1, N'John', N'Smith', N'ecd71870d1963316a97e3ac3408c9835ad8cf0f3c1bc703527c30265534f75ae', N'3197771111', N'john@company.com', N'manager', 0, 0)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role], [IsLoggedIn], [IsAdmin]) VALUES (2, N'Larry', N'Sky', N'ecd71870d1963316a97e3ac3408c9835ad8cf0f3c1bc703527c30265534f75ae', N'3197772222', N'larry@company.com', N'sales', 0, 0)
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role], [IsLoggedIn], [IsAdmin]) VALUES (3, N'Sam', N'Williams', N'ecd71870d1963316a97e3ac3408c9835ad8cf0f3c1bc703527c30265534f75ae', N'3197773333', N'sam@company.com', N'sales', 0, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Warranty] ON 

INSERT [dbo].[Warranty] ([WarrantyID], [CarID], [WarrantyTypeID], [WarrantyStartDate], [WarrantyEndDate]) VALUES (1, 3, 1, NULL, NULL)
INSERT [dbo].[Warranty] ([WarrantyID], [CarID], [WarrantyTypeID], [WarrantyStartDate], [WarrantyEndDate]) VALUES (2, 1, 4, NULL, NULL)
INSERT [dbo].[Warranty] ([WarrantyID], [CarID], [WarrantyTypeID], [WarrantyStartDate], [WarrantyEndDate]) VALUES (3, 3, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Warranty] OFF
GO
INSERT [dbo].[WarrantyType] ([WarrantyTypeID], [Description]) VALUES (1, N'bumper to bumper')
INSERT [dbo].[WarrantyType] ([WarrantyTypeID], [Description]) VALUES (2, N'powertrain')
INSERT [dbo].[WarrantyType] ([WarrantyTypeID], [Description]) VALUES (3, N'corrosion')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/20/2024 5:27:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/20/2024 5:27:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/20/2024 5:27:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 3/20/2024 5:27:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/20/2024 5:27:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/20/2024 5:27:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ak_VIN]    Script Date: 3/20/2024 5:27:14 PM ******/
ALTER TABLE [dbo].[CarInventory] ADD  CONSTRAINT [ak_VIN] UNIQUE NONCLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ak_SupplierName]    Script Date: 3/20/2024 5:27:14 PM ******/
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [ak_SupplierName] UNIQUE NONCLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ak_Email]    Script Date: 3/20/2024 5:27:14 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [ak_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarInventory] ADD  DEFAULT ((0)) FOR [Mileage]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('ecd71870d1963316a97e3ac3408c9835ad8cf0f3c1bc703527c30265534f75ae') FOR [Password]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [IsLoggedIn]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Financing]  WITH CHECK ADD  CONSTRAINT [fk_Financing_SaleID] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Financing] CHECK CONSTRAINT [fk_Financing_SaleID]
GO
ALTER TABLE [dbo].[RepairInvoice]  WITH CHECK ADD  CONSTRAINT [fk_RepairInvoice_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[CarInventory] ([CarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairInvoice] CHECK CONSTRAINT [fk_RepairInvoice_CarID]
GO
ALTER TABLE [dbo].[RepairInvoice]  WITH CHECK ADD  CONSTRAINT [fk_RepairInvoice_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairInvoice] CHECK CONSTRAINT [fk_RepairInvoice_UserID]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [fk_Sales_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[CarInventory] ([CarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [fk_Sales_CarID]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [fk_Sales_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [fk_Sales_UserID]
GO
ALTER TABLE [dbo].[ServiceAppointment]  WITH CHECK ADD  CONSTRAINT [fk_ServiceAppointment_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[CarInventory] ([CarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceAppointment] CHECK CONSTRAINT [fk_ServiceAppointment_CarID]
GO
ALTER TABLE [dbo].[ServiceAppointment]  WITH CHECK ADD  CONSTRAINT [fk_ServiceAppointment_ServiceTypeID] FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[ServiceType] ([ServiceTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceAppointment] CHECK CONSTRAINT [fk_ServiceAppointment_ServiceTypeID]
GO
ALTER TABLE [dbo].[ServiceAppointment]  WITH CHECK ADD  CONSTRAINT [fk_ServiceAppointment_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceAppointment] CHECK CONSTRAINT [fk_ServiceAppointment_SupplierID]
GO
ALTER TABLE [dbo].[ServiceAppointment]  WITH CHECK ADD  CONSTRAINT [fk_ServiceAppointment_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceAppointment] CHECK CONSTRAINT [fk_ServiceAppointment_UserID]
GO
ALTER TABLE [dbo].[Warranty]  WITH CHECK ADD  CONSTRAINT [fk_Warranty_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[CarInventory] ([CarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Warranty] CHECK CONSTRAINT [fk_Warranty_CarID]
GO
ALTER TABLE [dbo].[Warranty]  WITH CHECK ADD  CONSTRAINT [fk_Warranty_WarrantyTypeID] FOREIGN KEY([WarrantyTypeID])
REFERENCES [dbo].[WarrantyType] ([WarrantyTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Warranty] CHECK CONSTRAINT [fk_Warranty_WarrantyTypeID]
GO
/****** Object:  StoredProcedure [dbo].[sp_authenticate_user]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_authenticate_user]
(
	@Password		[nvarchar] (100),
	@Email			[nvarchar] (250)
)
AS
	BEGIN
		SELECT [UserID], [FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role] 
		FROM [User]
		WHERE @Password = [Password]
		AND @Email = [Email]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_change_user_password]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_change_user_password]
(
	@Email			[nvarchar] (250),
	@OldPassword	[nvarchar]	(100),
	@NewPassword	[nvarchar]	(100)
)
AS
	BEGIN		
		UPDATE [dbo].[User] SET [Password] = @NewPassword WHERE [Email] = @Email			
	END		
GO
/****** Object:  StoredProcedure [dbo].[sp_create_repair_invoice]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_create_repair_invoice]
(
	@CarID				[int],
	@UserID				[int],
	@IssueDescription	[nvarchar] (250),
	@RepairDate			[datetime]
)
AS
	BEGIN
		INSERT INTO [dbo].[RepairInvoice]
			([CarID], [UserID], [IssueDescription], [RepairDate])
		VALUES
			(@CarID, @UserID, @IssueDescription, @RepairDate)
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_create_sale]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_create_sale]
(
	@UserID		[int],
	@CarID		[int],
	@SaleDate	[datetime],
	@SalePrice	[float]

)
AS
	BEGIN
		INSERT INTO [dbo].[Sales]
			([UserID], [CarID], [SaleDate], [SalePrice])
		VALUES
			(@UserID, @CarID, @SaleDate, @SalePrice)
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_create_service_appointment]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_create_service_appointment]
(
	@CarID			[int],
	@UserID			[int],
	@ServiceTypeID	[int]
)
AS
	BEGIN
		INSERT INTO [dbo].[ServiceAppointment]
			([CarID], [UserID], [ServiceTypeID])
		VALUES
			(@CarID, @UserID, @ServiceTypeID)
		SELECT SCOPE_IDENTITY()
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_create_user_account]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_create_user_account]
(
	@FirstName		[nvarchar] (50),
	@LastName		[nvarchar] (50),
	@Password		[nvarchar] (100),
	@PhoneNumber	[nvarchar] (11),
	@Email			[nvarchar] (250),
	@Role			[nvarchar] (100)
)
AS
	BEGIN
		INSERT INTO [dbo].[User] ([FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role])
		VALUES (@FirstName, @LastName, @Password, @PhoneNumber, @Email, @Role)
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_car]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_delete_car]
(
	@CarID				[int]
)
AS
	BEGIN
		DELETE FROM [dbo].[CarInventory] WHERE [CarID] = @CarID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_sale]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_delete_sale]
(
	@SaleID				[int]
)
AS
	BEGIN
		DELETE FROM [dbo].[Sales] WHERE [SaleID] = @SaleID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_service_appointment_by_appointment_id]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_delete_service_appointment_by_appointment_id]
(
	@AppointmentID			[int]
)
AS
	BEGIN
		DELETE FROM [dbo].[ServiceAppointment] WHERE [AppointmentID] = @AppointmentID 
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_user_account]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_delete_user_account]
(
	@UserID			[nvarchar] (250)
)
AS
	BEGIN
		DELETE FROM [dbo].[User] WHERE [UserID] = @UserID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_filter_car_inventory_by_fuel_type]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_filter_car_inventory_by_fuel_type]
(
	@FuelType			[nvarchar] (50)
)
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE [FuelType] = @FuelType
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_filter_car_inventory_by_high_mileage]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_filter_car_inventory_by_high_mileage]
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE [Mileage] > 75000
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_filter_car_inventory_by_low_mileage]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_filter_car_inventory_by_low_mileage]
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE [Mileage] < 10000
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_filter_car_inventory_by_model]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_filter_car_inventory_by_model]
(
	@Model			[nvarchar] (50)
)
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE [Model] = @Model
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_filter_car_inventory_by_moderate_mileage]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_filter_car_inventory_by_moderate_mileage]
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE [Mileage] > 10000 AND [Mileage] < 75000
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_filter_car_inventory_by_year]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_filter_car_inventory_by_year]
(
	@Year			[int]
)
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE [Year] = @Year
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_new_car]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_insert_new_car]
(
	@Model				[nvarchar]	(50),
	@Year				[int],	
	@Color				[nvarchar]	(50),
	@VIN				[nvarchar]	(17),
	@Price				[float],
	@Mileage			[int],	
	@FuelType			[nvarchar]	(50),
	@TransmissionType	[nvarchar]	(50),
	@EngineSize			[float],	
	@Description		[nvarchar]	(250)
)
AS
	BEGIN
		INSERT INTO [dbo].[CarInventory] VALUES 
		(@Model, @Year, @Color, @VIN, @Price, @Mileage, @FuelType, @TransmissionType, @EngineSize, @Description)
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_reset_user_password]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_reset_user_password]
(
	@Email			[nvarchar] (250),
	@NewPassword	[nvarchar]	(100)
)
AS
	BEGIN
		UPDATE [dbo].[User] SET [Password] = @NewPassword WHERE [Email] = @Email
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_retrieve_service_appointment_by_appointment_id]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_retrieve_service_appointment_by_appointment_id]
(
	@AppointmentID			[int]
)
AS
	BEGIN
		SELECT [AppointmentID], [CarID], [UserID], [ServiceTypeID], [SupplierID], [ScheduleDate] FROM [dbo].[ServiceAppointment] WHERE [AppointmentID] = @AppointmentID 
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_retrieve_service_type_by_type_id]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_retrieve_service_type_by_type_id]
(
	@ServiceTypeID [int]
)
AS
	BEGIN
		SELECT [ServiceTypeID], [Description]
		FROM [dbo].[ServiceType]
		WHERE ServiceTypeID = @ServiceTypeID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_all_user]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_select_all_user]
AS
	BEGIN
		SELECT [UserID], [FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role] 
		FROM [User]		
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_car_by_id]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_select_car_by_id]
(
	@CarID		[int]
)
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE CarInventory.CarID = @CarID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_sale_by_id]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_select_sale_by_id]
(
	@SaleID		[int]
)
AS
	BEGIN
		SELECT [SaleID], [UserID], [CarID], [SaleDate], [SalePrice] FROM [dbo].[Sales] WHERE Sales.SaleID = @SaleID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_user_by_email]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_select_user_by_email]
(
	@Email			[nvarchar] (250)
)
AS
	BEGIN
		SELECT [UserID], [FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role], [IsLoggedIn], [IsAdmin] 
		FROM [User]
		WHERE @Email = [Email]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_user_by_id]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_select_user_by_id]
(
	@UserID			[int]
)
AS
	BEGIN
		SELECT [UserID], [FirstName], [LastName], [Password], [PhoneNumber], [Email], [Role] 
		FROM [User]
		WHERE @UserID = [UserID]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_car]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_update_car]
(
	@CarID				[int],
	@Model				[nvarchar]	(50),
	@Year				[int],	
	@Color				[nvarchar]	(50),
	@VIN				[nvarchar]	(17),
	@Price				[float],
	@Mileage			[int],	
	@FuelType			[nvarchar]	(50),
	@TransmissionType	[nvarchar]	(50),
	@EngineSize			[float],	
	@Description		[nvarchar]	(250)
)
AS
	BEGIN
		UPDATE [dbo].[CarInventory] SET 
			[Model] = @Model, 
			[Year] = @Year, 
			[Color] = @Color,
			[VIN] = @VIN,
			[Price] = @Price,
			[Mileage] = @Mileage,
			[FuelType] = @FuelType,
			[TransmissionType] = @TransmissionType,
			[EngineSize] = @EngineSize,
			[Description] = @Description	
		WHERE [CarID] = @CarID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_service_appointment]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_update_service_appointment]
(
	@AppointmentID	[int],
	@CarID			[int],
	@UserID			[int],
	@ServiceTypeID	[int],
	@SupplierID		[int],
	@ScheduleDate	[datetime]
)
AS
	BEGIN
		UPDATE [dbo].[ServiceAppointment] SET 
			[CarID] = @CarID,
			[UserID] = @UserID,
			[ServiceTypeID] = @ServiceTypeID,
			[SupplierID] = @SupplierID,
			[ScheduleDate] = @ScheduleDate
			WHERE [AppointmentID] = @AppointmentID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_User]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_update_User]
(	
	@FirstName			[nvarchar] (50),
	@LastName			[nvarchar] (50),	
	@PhoneNumber		[nvarchar] (11),
	@Email				[nvarchar] (250),
	@Role				[nvarchar] (100),
	@IsLoggedIn			[bit],
	@IsAdmin			[bit]
)
AS
	BEGIN
		UPDATE [dbo].[User] SET 
			[FirstName] = @FirstName,
			[LastName] = @LastName,			
			[PhoneNumber] = @PhoneNumber,
			[Email] = @Email,
			[Role] = @Role,
			[IsLoggedIn] = @IsLoggedIn,
			[IsAdmin] = @IsAdmin
			WHERE [Email] = @Email
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_view_all_sales]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_view_all_sales]
AS
	BEGIN
		SELECT [SaleID], [UserID], [CarID], [SaleDate], [SalePrice] FROM [dbo].[Sales]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_view_all_sales_data]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_view_all_sales_data]
AS
	BEGIN
		SELECT sls.SaleID, sls.UserID, sls.CarID, sls.SaleDate, sls.SalePrice, usr.FirstName, usr.LastName, car.Model, car.Year
		FROM [dbo].[Sales] sls
		JOIN [dbo].[User] usr ON [sls].[UserID] = [usr].[UserID]
		JOIN [dbo].[CarInventory] car ON [sls].[CarID] = [car].[CarID]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_view_all_service_appointments]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_view_all_service_appointments]
AS
	BEGIN
		SELECT [AppointmentID], [CarID], [UserID], [ServiceTypeID], [SupplierID], [ScheduleDate] FROM [dbo].[ServiceAppointment]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_view_all_service_appointments_data]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_view_all_service_appointments_data]
AS
	BEGIN
		SELECT sap.AppointmentID, sap.CarID, sap.UserID, sap.ServiceTypeID, sap.SupplierID, sap.ScheduleDate, cst.FirstName, cst.LastName, car.Model, car.Year, svt.Description, sup.SupplierName
		FROM [dbo].[ServiceAppointment] sap
		JOIN [dbo].[User] cst ON [sap].[UserID] = [cst].[UserID]
		JOIN [dbo].[CarInventory] car ON [sap].[CarID] = [car].[CarID]
		JOIN [dbo].[ServiceType] svt ON [sap].[ServiceTypeID] = [svt].[ServiceTypeID]
		JOIN [dbo].[Supplier] sup ON [sap].[SupplierID] = [sup].[SupplierID]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_view_car_detail]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_view_car_detail]
(
	@CarID		[int]
)
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory] WHERE [CarID] = @CarID
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_view_car_inventory]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_view_car_inventory]
AS
	BEGIN
		SELECT [CarID], [Model], [Year], [Color], [VIN], [Price], [Mileage], [FuelType], [TransmissionType], [EngineSize], [Description] FROM [dbo].[CarInventory]
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_view_sales_for_User]    Script Date: 3/20/2024 5:27:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[sp_view_sales_for_User]
(
	@UserID		[int]
)
AS
	BEGIN
		SELECT [SaleID], [UserID], [CarID], [SaleDate], [SalePrice] FROM [dbo].[Sales] WHERE [UserID] = @UserID
	END
GO
USE [master]
GO
