@{
    ViewBag.Title = "About our Car Shop";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <p class="animate__animated animate__zoomIn">
        We offer a comprehensive range of automotive services to customers.
        Beyond selling new and used vehicles, we provide financing options, trade-in evaluations, and leasing programs.
        Our service department handles maintenance, repairs, and warranty work, staffed by certified technicians using genuine parts.
        Additionally, we offer parts and accessories sales. We also have body shops for collision repairs and detailing services.
        Customer amenities include waiting areas with Wi-Fi, refreshments, and loaner vehicles.
        Our goal is to provide a one-stop-shop experience, ensuring convenience and satisfaction for all automotive needs.
    </p>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Repairs</h2>
            <p class="animate-fadeInLeft">
                Getting your car repaired promptly after it sustains damage or exhibits issues like strange engine noises is crucial for several reasons.
                First, addressing problems early can prevent further damage, potentially saving you from more costly repairs down the line.
                Second, driving with a damaged or malfunctioning vehicle can compromise safety, putting you and others at risk.
                Additionally, unresolved issues can lead to decreased fuel efficiency and performance, costing you more in fuel expenses.
                Lastly, a well-maintained car retains its value better, making timely repairs a smart investment for the longevity and resale value of your vehicle.
            </p>
        </div>
        <div class="col-md-8" style="padding: 5rem;">
            <img src="~/Content/Images/CarRepairPhoto.png" alt="Repairs Photo" class="img-fluid animate-fadeInRight" style="border-radius: 8px" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Oil Change</h2>
            <p class="animate-fadeInLeft">
                Regular oil changes are crucial for maintaining the health and longevity of your car's engine.
                When oil levels get low, the engine is not properly lubricated, leading to increased friction and heat.
                This can cause excessive wear and tear on engine components, reducing efficiency and potentially causing serious damage.
                Fresh oil helps to clean the engine, reduce friction, and dissipate heat, ensuring optimal performance and extending the lifespan of your vehicle.
                Neglecting to change the oil when it's low can result in costly repairs and decreased fuel economy.
                Thus, timely oil changes are essential for the overall well-being of your car.
            </p>
        </div>
        <div class="col-md-8" style="padding: 5rem;">
            <img src="~/Content/Images/OilChangePhoto.jpg" alt="Oil Change Photo" class="img-fluid animate-fadeInRight" style="border-radius: 8px" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Tire Change</h2>
            <p class="animate-fadeInLeft">
                Getting new tires for your car is crucial for both safety and performance.
                Tires are the only contact between your vehicle and the road, affecting braking, handling, and overall control.
                Worn-out tires can compromise your car's ability to grip the road, especially in wet or icy conditions, increasing the risk of accidents.
            </p>
            <p class="animate-fadeInLeft">
                Additionally, old tires are more susceptible to blowouts, which can be extremely dangerous, especially at high speeds.
                Proper tread depth is essential for adequate traction; if your tires are balding, they won't grip the road effectively, leading to longer stopping distances and reduced maneuverability.
            </p>
        </div>
        <div class="col-md-8" style="padding: 5rem;">
            <img src="~/Content/Images/TiresPhoto.png" alt="Tire Change Photo" class="img-fluid animate-fadeInRight" style="border-radius: 8px" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Brakes</h2>
            <p class="animate-fadeInLeft">
                Replacing your car brakes is crucial for safety and performance.
                Worn-out brakes can compromise your ability to stop quickly, increasing the risk of accidents.
                Squealing or grinding noises, longer stopping distances, and a soft brake pedal are signs of brake wear.
                Regular brake inspections and timely replacements ensure optimal braking efficiency, maintaining control and safety on the road.
                Neglecting brake maintenance can lead to more expensive repairs and jeopardize your safety and that of others on the road.
                Therefore, it's essential to replace your car brakes to ensure reliable and safe stopping power.
            </p>
        </div>
        <div class="col-md-8" style="padding: 5rem;">
            <img src="~/Content/Images/CarBrakePhoto.png" alt="Brakes Photo" class="img-fluid animate-fadeInRight" style="border-radius: 8px" />
        </div>
    </div>
</main>