@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <abbr title="Address">A:</abbr>
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        319.398.5411
    </address>
</main>