@{
    ViewBag.Title = "Home Page";
}
<body id="homeIndex">
    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title" class="animate__animated animate__fadeInBottomRight animate__delay-1s animate__faster">Car Shop</h1>
        </section>
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    Welcome to Big E's Car Shop website.  Here we like to show you our list of cars we currently have.
                    Click on register to create an account.  If you already have an account, login in and then click on Cars to view our cars.
                    Check back once in a short while.  We do get more cars quite often.
                </p>
                <p><a class="btn btn-light" href="/Home/About">Learn more &raquo;</a></p>
            </section>
            <div class="col-md-8" id="carDiv">
                <img id="homeImage" class="img-fluid " src="~/Content/Images/CoolCarPhoto.png" alt="Home Page photo" />
            </div>
        </div>
    </main>
</body>